body {
    background-color: rgb(2, 91, 69);
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
.container {
    width: 60%; 
    max-width: 400px; 
    background: rgb(7, 190, 178);
    color: #080707;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.search{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline:0;
    background:rgb(215, 233, 237);
    color:rgb(1, 19, 19);
    padding: 10px 25px;
    height:40px;
    border-radius:30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}
.search button{
    border:0;
    outline:0;
    background:rgb(215, 233, 237);
    border-radius:50%;
    width:60px;
    height:60px;
    cursor:pointer;
}
.icon{
width:90px;
margin-top:20px;
}

.details{
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    margin-top: 50px;

}
