/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
  }
  body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(#2e77b8, #930589);
    font-family: sans-serif;
  }
  button:hover {
    cursor: pointer;
    background-color: #10beaf;
  }
  ul {
    list-style-type: none; /* get rid of bullet points on side of list items */
  }
  
  .container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  h1 {
    color: #0b0b0a;
    font-size: 3rem;
  }
  
  .todo-form {
    margin: 40px 0px;
  }
  .todo-input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
  }
  .add-button {
    background-color: #23c4b9;
    color: #0c0c0c;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 7px;
    font-size: 1.1rem;
  }
  
  .todo-items {
    min-width: 350px;
  }
  
  .item {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
  }
  .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  .delete-button {
    float: right;
    background-color: #34c1b5;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
  }
  
  .checked { 
    text-decoration: line-through;
  }
  