body {
        background-color:rgb(11, 9, 9);
        font-family:Arial;
        color: white;
    }
    h1{
        color:rgb(122, 122, 122);
        font:verdana;
    }
    .maindiv{
        background-color: white;
        color: black;
        width:300px;
        padding:20px;
        border-radius: 25px;
        text-align:center;
    }